<div class="modal fade" id="editHomework" tabindex="-1" role="dialog" aria-labelledby="editHomework" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="editHomeworkLabel"><i class="fa fa-plus"></i> Edit Homework</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" action="/api/homework/edit" method="POST">
          <input type="hidden" name="id" value="">
          <div class="form-group" id="editHomework">
            <label for="date" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="date" name="date" placeholder="Delivery Date" value="">
            </div>
          </div>
          <div class="form-group" id="editHomework">
            <label for="subject" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-10">
              <select class="form-control" id="subject" name="subject"></select>
            </div>
          </div>
          <div class="form-group" id="editHomework">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3" id="description" name="description" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
