<% include header %>
    <div class="list-group">
      <a href="#" class="list-group-item">
        <!--<h4 class="list-group-item-heading">
          <span class="label label-info">LP</span>
          <span class="type">Repórter da Semana</span> <!-- 15 chars max. -->
        <!--</h4>-->
        <h4 class="list-group-item-heading">
          <span class="label label-info">LP</span>
          <span class="type">Type of Homework</span> <!-- 15 chars max. -->
        </h4>
        <p class="list-group-item-text">
          <strong>Delivery Date: </strong> DD/MM/YYYY<br/>
          One day this will be a full description.

          <div class="row row-btns">
            <div class="col-xs-6"><button href="#" class="btn btn-primary btn-sm btn-block" type="button"><i class="fa fa-pencil"></i> Edit</button></div>
            <div class="col-xs-6"><button href="#" class="btn btn-success btn-sm btn-block" type="button"><i class="fa fa-check"></i> Done</button></div>
          </div>
        </p>
      </a>
    </div>
<% include footer %>
