<% include header %>
    <div class="page-header">
      <h3><i class="fa fa-list"></i> Homework List</h3>
    </div>
    <div id="homework"></div>

    <% include edit-homework-modal %>
<% include footer %>
