<% include header %>
    <div id="alerts"></div>
    <div class="page-header">
      <h3><i class="fa fa-plus"></i> Add Discipline</h3>
    </div>

    <form class="form-inline" role="form" id="addDiscipline" action="/api/discipline/add" method="POST">
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group" id="addDiscipline">
            <div class="input-group" id="addDiscipline">
              <div class="input-group-addon">Label</div>
              <input class="form-control" type="text" name="label" placeholder="Label">
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group" id="addDiscipline">
            <div class="input-group" id="addDiscipline">
              <div class="input-group-addon">Name</div>
              <input class="form-control" type="text" name="name" placeholder="Full Name">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-success" id="addDiscipline">Add</button>
        </div>
      </div>
    </form>

    <div class="page-header">
      <h3><i class="fa fa-list"></i> Discipline List</h3>
    </div>
    <div id="disciplines">
      <% include manage-list %>
    </div>

    <script>
      postForm("#addDiscipline", function(data) {
        createAlert("#alerts", true, data.status, data.message)

        if (data.message == "Discipline added!")
          refreshList()
      })

      function removeDiscipline(id) {
        var response = confirm("Do you REALLY want to remove a discipline?")
        if (response) {
          console.log("Removing discipline")
          $.post("/api/discipline/remove", {id: id}, function(data) {
            createAlert("#alerts", true, data.status, data.message)

            if (data.status == "success")
              refreshList()
          }, "json")
        }
      }

      function refreshList() {
        console.log("Refreshing discipline list")
        $.ajax("/api/discipline/get").done(function(html) {
          $("#disciplines").html(html)
        })
      }
    </script>
<% include footer %>
