    <% if (subjects == "error") {%>
        An error occurred while getting the subjects.
    <%} else if (subjects == "empty") {%>
        There are no subjects on the database.
    <%} else {%>
      <%for (var i = 0; i < subjects.length; i++) {%>
        <%var subject = subjects[i]%>
        <option value="<%=subject.label%>"><%=subject.label%>: <%=subject.name%></option>
      <%}%>
    <%}%>
