nav .badge {
  margin-left: 3px;
}

a#addHomeworkButton {
  cursor: pointer;
}
.page-header,
.page-header h3 {
  margin-top: 0;
}

.page-header h3 {
  margin-bottom: 0;
}

.list-group p {
  margin: 0;
}

.list-group .list-group-item-text {
  margin: 12px 0 10px 0;
}

.list-group .row-btns {
  padding: 0 13px;
}

.list-group .col-xs-6 {
  padding: 0 2px;
}

.media {
  margin-top: 0;
}

.pull-left {
  margin-top: 3px;
}

#controls.pull-left {
  margin-top: 4px;
}

.media-body {
  padding-top: 4px;
}

#subject.media-body {
  padding-bottom: 3px;
}

button#done {
  padding: 10px 12px 8px 12px;
}

button#edit {
  margin-top: -2px;
  padding: 1px 5px 2px 5px;
}

.label {
  font-size: 100%;
}

.label[disabled] {
  opacity: .65;
}

form#addSubject {
  margin-bottom: 20px;
}

.form-group#addSubject,
.input-group#addSubject,
form button#addSubject {
  width: 100%;
}

.modal-body {
  padding: 15px 0 0 0;
}

.form-group#editSubject,
.form-group#editHomework,
.form-group#addHomework {
  padding: 0 15px;
}

.login {
  width: 300px;
  margin: 30px auto auto auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-header {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: 0 0 10px;
}
