nav .badge {
  margin-left: 3px;
}

.list-group p {
  margin: 0;
}

.list-group .list-group-item-text {
  margin: 12px 0 10px 0;
}

.list-group .row-btns {
  padding: 0 13px;
}

.list-group .col-xs-6 {
  padding: 0 2px;
}

.media {
  margin-top: 0;
}

.pull-left {
  margin-top: 3px;
}

.media-body {
  padding-top: 4px;
}

button#done {
  padding: 10px 12px 8px 12px;
}

button#edit {
  margin-top: -2px;
  padding: 1px 5px 2px 5px;
}

.label {
  font-size: 100%;
}

.label[disabled] {
  opacity: .65;
}
